---
const {
    title,
    slug,
    time,
    abstract,
    description,
    full
} = Astro.props;
---

<div class="markdown workshop-detail">
    <div class="space-y-6">
        <h2 id={slug}>{title}</h2>
        <strong>
            {time}
        </strong>
        { !full && 
        <p>
            {abstract}
        </p>
        }
        { full && 
        <div class="space-y-6" set:html={description} />
        }
    </div>
</div>

<style lang="scss">
    @use "../../styles/variables.scss";

    .workshop-detail h2 {
        font-size: variables.$font-size-xl;
        font-style: normal;
    }
</style>
