---
import { library, icon } from '@fortawesome/fontawesome-svg-core';
import { faLocationDot, faClock } from '@fortawesome/free-solid-svg-icons';

const {
  title,
  slug,
  time,
  abstract,
  description,
  full,
  hasTitle = true,
} = Astro.props;

library.add(faLocationDot, faClock);
const locationIcon = icon({ prefix: 'fas', iconName: faLocationDot.iconName });
const clockIcon = icon({ prefix: 'fas', iconName: faClock.iconName });
---

<div class="markdown workshop-detail">
  <div class="space-y-6">
    <div>
      {hasTitle && <h2 id={slug}>{title}</h2>}
      <div class="workshop-detail-item">
        <div class="icon"><Fragment set:html={clockIcon.html} /></div>
        <span>{time}</span>
      </div>
    </div>
    {!full && <p>{abstract}</p>}
    {full && <div class="space-y-6" set:html={description} />}
  </div>
</div>

<style lang="scss">
  @use '../../styles/variables.scss';

  .workshop-detail h2 {
    // font-size: variables.$font-size-xl;
    font-style: normal;
    padding: 0;
    margin: 0;
  }

  .workshop-detail-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
