---
import EventDate from "./EventDate.astro";
import Divider from "../../components/Divider.astro";
import EventLocation from "./EventLocation.astro";

interface Props {
    id?: string;
    title?: string;
    dates?: string[];
    startTime?: string;
    venue?: any;
    room?: string;
    detailLink?: string;
    scheduleLink?: string;
}

const { id = "", title, dates = [], startTime, venue, room, detailLink, scheduleLink } = Astro.props;
---

<div class="event" id={id.replace("/events/", "")}>
    <div class="kicker">
        {
            dates.map((date: string) =>
                new Date(date).toLocaleDateString("en-EN", { weekday: "long" }),
            ).join(" & ")
        }
    </div>
    <h2>{title}</h2>
    {
        dates.map((date: string) => (
            <EventDate date={date} startTime={startTime} />
        ))
    }
    {
        venue &&
            <EventLocation venueName={venue.name} venueLink={venue.link} room={room} />
    }
    <slot />
    {
        detailLink && (
            <div class="track-link">
                <a href={detailLink}>More details</a>
            </div>
        )
    }
    {
        scheduleLink && (
            <div class="track-link">
                <a href={scheduleLink}>Find in schedule</a>
            </div>
        )
    }
</div>

<Divider />

<style lang="scss">
    @use "../../styles/variables.scss";

    .kicker {
        color: variables.$color-red-400;
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        padding-top: 0;
    }

    .event {
        margin-block-start: 5rem;
        margin-block-end: 5rem;

        .track-link a {
            font-weight: bold;
            color: variables.$color-red-400;
        }
    }
</style>
