---
import PersonList from '../components/people/PeopleList.astro';
import Person from '../components/people/Person.astro';
import CommonLayout from '../layouts/CommonLayout.astro';

const talks = await Astro.glob('./talks/*.md');
---

<CommonLayout title="Speakers" header="Speakers" withLogo>
    <section id="speakers" class="speakers">
        <div class="container space-y-6">
            <PersonList>
                {
                    talks.map((talk: any) => {
                        return talk.frontmatter.speakers.map((speaker: any) => (
                            <Person
                                tile
                                name={speaker.name}
                                image={speaker.image}
                                tracks={talk.frontmatter.tracks}
                                slug={talk.url}
                            >
                                <p>
                                    <em>Talk</em>:
                                    <a href={talk.url}>
                                        {talk.frontmatter.talkTitle}
                                    </a>
                                </p>
                            </Person>
                        ));
                    })
                }
            </PersonList>
        </div>
    </section>
</CommonLayout>

<style lang="scss">
  @use '../styles/variables.scss';
  @use '../styles/breakpoint.scss';

  .speakers {
    padding-top: 2em;
  }

  p {
    font-size: variables.$font-size-sm;
  }
</style>
