---
import WorkshopDetail from '../components/workshop/workshop-detail.astro';
import Workshop from '../components/workshop/Workshop.astro';
import CommonLayout from '../layouts/CommonLayout.astro';
import Button from '../components/Button.astro';
import Person from '../components/people/Person.astro';

const workshops = await Astro.glob('./workshops/*.md');
const trainers = await Astro.glob('./people/trainers/*.md');
---

<CommonLayout title="Workshops" header="Workshops" withLogo>
  <section class="py-12 space-y-6">
    <div class="grid xl:cols-12" id="workshops">
      <div class="xl:col-start-3 xl:col-end-11 space-y-12">
        <div
          class="abouttext text-center md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
          style="font-size: smaller;"
        >
          {
            workshops.map((workshop) => (
              <Fragment>
                <a href={`#${workshop.frontmatter.slug}`}>
                  {workshop.frontmatter.slug}
                </a>{' '}
                &bullet;
              </Fragment>
            ))
          }
        </div>

        <p>
          For the workshop <strong>location</strong> and other details, see the <strong><a href="/events/workshops">workshop event page</a></strong>.
        </p>
        <div class="space-y-12">
          {
            workshops.map((workshop) => (
              <div class="item space-y-6">
                <Workshop class="workshop">
                  <WorkshopDetail
                    hasTitle={true}
                    {...workshop.frontmatter}
                    description={workshop.compiledContent()}
                  />
                  <div class="space-y-3">
                    <strong>Workshop by</strong>
                    <div class="grid md:cols-3">
                      {trainers
                        .filter(
                          (trainer) =>
                            trainer.frontmatter.workshop ==
                            workshop.frontmatter.slug
                        )
                        .map((workshopTrainer) => (
                          <Person tile {...workshopTrainer.frontmatter} />
                        ))}
                    </div>
                  </div>
                </Workshop>
                <Button link={`/workshops/${workshop.frontmatter.slug}`}>
                  Details & tickets
                </Button>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</CommonLayout>

<style lang="scss">
  @use '../styles/variables.scss';
  .trainer {
    font-size: variables.$font-size-md;
    // note: writing this as text-decoration shorthand does not work on safari
    text-decoration-line: underline;
    text-decoration-color: variables.$color-red-400;
    text-decoration-thickness: 0.3rem;
  }

  .item {
    &::before {
      background-color: variables.$color-red-400;
      content: '';
      display: block;
      height: 1px;
      width: 100%;
    }
  }
</style>
