
---
interface Props {
    link: string,
    name: string,
}

const {link, name}: Props = Astro.props;

const url = URL.parse(link);
if (!url) {
    throw Error(`bad youtube link: ${link}`);
}

const path = url.pathname;

let code: null | string = null;
for (const part of path.split("/")) {
    if (part !== "embed" && part !== "live") {
        code = part;
    }
}

if (!code) {
    throw Error(`bad youtube link: ${link}`);
}

---
<div class="stream">
    <h3>{name}</h3>
    <iframe 
        style="aspect-ratio: 16/9; width: min(80ch, 90vw);" 
        src={`http://www.youtube.com/embed/${code}`} 
        title={`${name}`} 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
    ></iframe>
</div>

<style lang="scss">
    
</style>
