---
import SpeakerImage from "./SpeakerImage.astro";

const { name, image, talk, youtube } = Astro.props;
---

<div class="speaker">
    <div class="space-y-6">
        <SpeakerImage
            src={`/images/organisers/${image}`}
            alt={`Picture of ${name}`}
        />
        <div>
            <h3>{name}</h3>
            <h4>{talk}</h4>
        </div>
    </div>
    <a href={youtube}>View on youtube</a>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";

    h4 {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $line-height-tight;
    }
</style>
