---

interface Props {
    name: string;
    image: string;
    description: string;
    tracks?: Array<string>;
}

const { name, image, description, tracks } = Astro.props;
---

<div class="person">
    <div class="image-container">
        <a href=`/speakers#${encodeURIComponent(name)}`>
            <img src={`/images/people/${image}`} alt={`Picture of ${name}`} />
        </a>
        <div class="tags">
            {
                tracks && tracks.map( track => (
                    <span class={`tag ${track}`}>
                        <span>
                            {track} track
                        </span>
                    </span>

                ))
            }
        </div>
    </div>
    <div>
        <h4>{name}</h4>
        <p class="description">{description}</p>
    </div>
</div>

<style lang="scss">
    @import "../../styles/breakpoint.scss";
    @import "../../styles/variables.scss";

    .person {
        display: flex;
        flex-direction: column;
        gap: 1em;

        a {
            color: inherit;
            text-decoration: underline;
            display: inline-block;
        }

        .socials {
            display: flex;
            gap: 12px;
        }

        .speaker-detail {
            text-align: left;
        }

        h4 {
            font-size: $font-size-lg;
            font-weight: $font-weight-light;
            line-height: $line-height-tight;

            margin-bottom: 0;
            margin-top: 0.2em;
        }

        .description {
            margin-top: 0.5em;
            font-size: $font-size-sm;
        }

        .image-container {
            position: relative;

            a {
                aspect-ratio: 1/1;
                align-self: center;
                border-radius: 0.3em;
                height: auto;
                vertical-align: middle;
                width: 100%;

                img {
                    background: $color-yellow-400;

                    width: 100%;
                    height: 100%;

                    object-fit: contain;
                }
            }
    
            div.tags {
                position: absolute;
                bottom: 0.75rem;
                left: 0.75rem;
    
                .tag {
                    padding: 0.3rem 0.5rem;
                    margin-right: 0.75rem;
                    
                    border-radius: 5px;
                    font-size: $font-size-xs;
                    background-color: $color-blue-400;

                    &.project {
                        background-color: $color-red-400;
                    }
    
                    &.industry {
                        background-color: $color-yellow-400;
                    }

                    span {
                        font-weight: bold;
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
</style>
