---
import Icon from "../Icon.astro";

const {
    name,
    image,
    title,
    talkTitle,
    talkAbstract,
    bio,
    linkedin,
    twitter,
    mastodon,
    github,
    link,
} = Astro.props;
---

<div class="person" id={link}>
    <div class="image-part">
        <img
            src={`/images/people/${image}`}
            alt={`Picture of ${name}`}
        />
        <div class="main-info">
            <h2>{name}</h2>
            <p class="speaker-title">{title}</p>

            <div class="socials">
                {linkedin && <a href={linkedin}><Icon name="linkedin" /></a>}
                {twitter && <a href={twitter}><Icon name="x" /></a>}
                {mastodon && <a href={mastodon}><Icon name="mastodon" /></a>}
                {github && <a href={github}><Icon name="github" /></a>}
            </div>
            {
                bio && (
                    <div class="bio">
                        <h3>About</h3>
                        <p>{bio}</p>
                    </div>
                )
            }
        </div>
    </div>

    <div>
        <div>
            {talkTitle && <h3>The talk</h3>}<br />
            {talkTitle && <p style="font-style: italic;">{talkTitle}</p>}<br
            />
            {talkAbstract && <p>{talkAbstract}</p>}
            <slot />
        </div>

        {
            link && (
                <a href={`/schedule#${link}`} class="time">
                    <strong>show in schedule</strong>
                </a>
            )
        }
    </div>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";
    @import "../../styles/breakpoint.scss";

    .person {
        display: flex;
        flex-direction: column;


        width: 50em;
        @include smaller_than(lg) {
            width: 100%;
            margin-left: 2em;
            margin-right: 2em;
        }

        .image-part {
            @include wider_than(lg) {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 2em;
            }

            @include smaller_than(lg) {
                display: flex;
                flex-direction: column;
            }

        }

        img {
            border-radius: 0.5em;
            vertical-align: middle;

            width: 100%;
            height: auto;

            display: inline-block;

            aspect-ratio: 1/1;

            @include smaller_than(lg) {
                max-width: 50%;
                align-self: center;
            }
        }

        .main-info {
            position: relative;
            font-size: $font-size-lg;


            @include smaller_than(lg) {
                display: flex;
                align-items: center;
                flex-direction: column;
            }


            h2 {
                font-weight: $font-weight-light;
                line-height: $line-height-tight;

                margin-top: 0.25em;
                margin-bottom: 0em;


                @include wider_than(lg) {
                    text-align: left !important;
                }
            }

            .speaker-title {
                font-size: $font-size-md;
            }

            .socials {
                display: flex;
                flex-direction: row;
                gap: 0.3em;

                @include wider_than(lg) {
                    font-size: $font-size-md;
                    text-align: left !important;
                }
            }

            .bio {
                h3 {
                    margin: 0;
                    font-size: $font-size-lg;
                }

                p {
                    margin: 0;

                    @include wider_than(lg) {
                        font-size: $font-size-md;
                        text-align: left;
                    }
                }
            }
        }

        .time {
            position: absolute;
            bottom: 1em;
            right: 1em;
            text-decoration: unset;
        }

        .speaker-detail {
            width: 100%;
            padding-bottom: 1.5em;
            text-align: left;
        }
    }
</style>
