---
const {
    name,
    image,
    title,
    talkTitle,
    talkAbstract,
    bio,
    linkedin,
    twitter,
    mastodon,
    github,
    link,
} = Astro.props;
---

<div id={link}>
    <div class="space-y-s speaker-wrapper">
        <img
            src={`/images/speakers/${image}`}
            alt={`Picture of ${name}`}
        />
        <div>
            <h2>{name}</h2>
            <p class="speaker-title">{title}</p>
        </div>
        <div class="speaker-detail markdown">
            {
                bio && (
                    <div>
                        <h3>About</h3>
                        <p>{bio}</p>
                    </div>
                )
            }
            <div>
                {talkTitle && <h3>The talk</h3>}<br />
                {talkTitle && <p style="font-style: italic;">{talkTitle}</p>}<br
                />
                {talkAbstract && <p>{talkAbstract}</p>}
                <slot />
            </div>

            <div class="socials">
                {linkedin && <a href={linkedin}>LinkedIn</a>}
                {twitter && <a href={twitter}>X</a>}
                {mastodon && <a href={mastodon}>Mastodon</a>}
                {github && <a href={github}>GitHub</a>}
            </div>

            {
                link && (
                    <a href={`/schedule#${link}`} class="time">
                        <strong>show in schedule</strong>
                    </a>
                )
            }
        </div>
    </div>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";

    .time {
        position: absolute;
        bottom: 1em;
        right: 1em;
        text-decoration: unset;
    }

    .speaker-wrapper {
        width: 100%;
    }

    .speaker-title {
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }

    .speaker-detail {
        width: 100%;
        padding-bottom: 1.5em;
        text-align: left;
    }

    h2 {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $line-height-tight;
    }
</style>
