---
import SpeakerWrapper from "./SpeakerWrapper.astro";
import SpeakerImage from "./SpeakerImage.astro";

const { name, image, description, bio, linkedin, twitter, mastodon, github } =
    Astro.props;
---

<SpeakerWrapper>
    <div class="space-y-6">
        <SpeakerImage
            src={`/images/speakers/${image}`}
            alt={`Picture of ${name}`}
        />
        <div>
            <h4>{name}</h4>
            <h3>{description}</h3>
        </div>
        {bio && <p>{bio}</p>}
        <div class="socials">
            {linkedin && <a href={linkedin}>LinkedIn</a>}
            {twitter && <a href={twitter}>X</a>}
            {mastodon && <a href={mastodon}>Mastodon</a>}
            {github && <a href={github}>GitHub</a>}
        </div>
    </div>
</SpeakerWrapper>

<style lang="scss">
    @import "../../styles/variables.scss";

    h4 {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $line-height-tight;
    }
</style>
