---
import CommonLayout from "./CommonLayout.astro";
import OneColumnText from "../components/OneColumnText.astro";
import Button from "../components/Button.astro";
import Divider from "../components/Divider.astro";
import SubEvents from "../components/event/SubEvents.astro";
import Event from "../components/event/Event.astro";
import "../styles/index.scss";

const tracks = await Astro.glob("../pages/events/tracks/*.md");

tracks.sort((a, b) => {
    return (a.frontmatter.priority ?? 1) - (b.frontmatter.priority ?? 1)
});

const activities = await Astro.glob("../pages/events/activities/*.md");
const { frontmatter } = Astro.props;
const { title, hasActivities, hasTracks, dates } = frontmatter;
---

<CommonLayout title={title} withLogo>
    <OneColumnText>
        <Event {...frontmatter}>
            <slot />
            {hasTracks && <SubEvents tracks={tracks} date={dates[0]} />}
            {
                dates.map((date: any) => (
                    hasActivities && (
                        <Divider />
                        <SubEvents tracks={activities} date={date} />
                    )
                ))
            }
        </Event>
    </OneColumnText>
    <OneColumnText class="space-y-12">
        <Divider />
    </OneColumnText>
    <div class="py-12">
        <Button link="/overview#list">List of events</Button>
    </div>
</CommonLayout>

<style lang="scss">
    @use "../styles/variables.scss";
</style>
