---
import CommonLayout from "../layouts/CommonLayout.astro";
import "../styles/index.scss";
import Button from "../components/Button.astro";
import Person from "../components/people/Person.astro";

const { frontmatter } = Astro.props;
const { talkTitle, talkLevel, url, tracks = [], day = "tuesday", draft = false } = frontmatter;

const sep = /\/\/\/\/\/\/.*/;
const content = await Astro.slots.render("default");
const abstract = content.split(sep)[0];
const bio = content.split(sep)[1].replace(/^\n|\n$/g, "");

function list(names: string[]) {
  const finalName = names.pop();
  return names.length ? names.join(", ") + " & " + finalName : finalName;
}

const speaker_names = list(frontmatter.speakers.map((s: any) => s.name));

const ignore = draft? {"data-pagefind-ignore": "all"}: {}

---

<CommonLayout title={talkTitle} withLogo>
<div class="text-center" slot="header" {...ignore}>
    <div class="kicker">Talk</div>
    <h1>
      {talkTitle}
    </h1>
    <h2>by {speaker_names}</h2>
  </div>
    <section class="md:grid md:cols-12 py-12" {...ignore}>
    <div class="md:col-start-3 md:col-end-11">
      <!-- <slot /> -->
      <div set:html={abstract} />
      <div class="space-y-3">
        {
          talkLevel && (
            <Fragment>
              <strong>Audience:</strong> {talkLevel}
            </Fragment>
          )
        }
      </div>
      <div class="py-6">
        <h3>{frontmatter.speakers.length == 1 ? "Speaker" : "Speakers"}</h3>
        {
          frontmatter.speakers.map((speaker: any) => (
            <Person description={bio} {...speaker} />
          ))
        }
      </div>
      <div class="py-6">
        <div class="buttons">
          {
            !tracks.includes("industry") ? (
              <Button link="https://www.eventbrite.nl/e/rustweek-2025-tickets-1001676961757?aff=oddtdtcreator">
                Get your ticket
              </Button>
            ) : (
              <Button link="https://www.eventbrite.nl/e/industry-track-rustweek-2025-tickets-1115250035879">
                Get your ticket
              </Button>
            )
          }
          <Button link=`/schedule/${day}/#${url.split('/').pop()}`>
            Find in timetable
          </Button>
        </div>
      </div>
    </div>
  </section>
</CommonLayout>

<style is:global>
  .bio p {
    margin: 0;
    padding: 0;
    min-height: 0;
  }
</style>

<style lang="scss">
  @use "../styles/variables.scss";
  @use "../styles/breakpoint.scss";

  .bio {
    grid-area: bio;
  }
  .name {
    padding: 0;
    margin: 0;
    grid-area: name;
    font-size: variables.$font-size-lg;
  }
  .picture {
    grid-area: picture;
  }

  .kicker {
    color: variables.$color-red-400;
    font-weight: 700;
    text-transform: uppercase;
  }

  h1 {
    padding: 0;
    text-decoration: none;
  }

  h2 {
    text-decoration: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    @include breakpoint.smaller_than(lg) {
      flex-direction: column;
    }
  }
</style>
